## Exercícios de "tuple comprehensions" (5)

*Note: Python não tem tuple comprehension direto, mas você pode usar uma generator expression e converter com tuple(...). Então os exercícios abaixo sugerem esse uso.*

1. Usando generator expression, gere os quadrados dos números de 0 a 9, e converta o resultado em tupla.

2. A partir de nums = [2, 3, 5, 7, 11, 13], crie uma generator expression que multiplique cada número por 2, e transforme em tupla.

3. Usando generator expression + filtragem, de nums = range(20) crie uma tupla com apenas os números divisíveis por 3 ou por 5.

4. Dada a string s = "abracadabra", use uma generator expression para extrair as letras que aparecem no final da string (por exemplo, as três últimas) e transforme em tupla.

5. A partir de uma lista de listas aninhadas lst = [[1, 2], [3, 4], [5, 6]], use generator expression para produzir uma tupla contendo todos os elementos (isto é, “achatado” em tupla: (1,2,3,4,5,6)).

## 1)

In [5]:
# Usando generator expression, gere os quadrados dos números de 0 a 9, e converta o resultado em tupla.

result = {num**2 for num in range(10)}
result

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

## 2)

In [6]:
# A partir de nums = [2, 3, 5, 7, 11, 13], crie uma generator expression que multiplique cada número por 2, e transforme em tupla.

nums = [2, 3, 5, 7, 11, 13]

result = {num*2 for num in nums}
result

{4, 6, 10, 14, 22, 26}

## 3)

In [8]:
# Usando generator expression + filtragem, de nums = range(20) crie uma tupla com apenas os números divisíveis por 3 ou por 5.

result = {num for num in range(20) if num % 3 == 0 or num % 5 == 0}
result

{0, 3, 5, 6, 9, 10, 12, 15, 18}

## 4)

In [12]:
# Dada a string s = "abracadabra", use uma generator expression para extrair as letras que aparecem
# no final da string (por exemplo, as três últimas) e transforme em tupla.

s = "abracadabra"

result = {word for word in s[-3:]}
result

{'a', 'b', 'r'}

## 5)

In [14]:
# A partir de uma lista de listas aninhadas lst = [[1, 2], [3, 4], [5, 6]], use generator
# expression para produzir uma tupla contendo todos os elementos (isto é, “achatado” em tupla: (1,2,3,4,5,6)).

lst = [[1, 2], [3, 4], [5, 6]]

result = {value for line in lst for value in line}
result

{1, 2, 3, 4, 5, 6}